@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3 class="HomeSubTitle">@ViewBag.Message</h3>

    <p>TASM (Tracking Assest & Sensor Monitoring) was founded in Cape Town in 2024. The owner was tired or not being able to find
    is heys and wallet so decided to to create small trackers he could attach to his keychain and wallet. Now with a user friendly
    mobile and web application he could find his possessions inside his own home. <br />
    This didn't end there as he started to develop his own trackers for his car and his dogs' dog collar. He later expanded into
    temperature, pressure & light sensors for various devices and purpose.</p>

    <h3 class="HomeSubTitle">Values</h3>
    <ol>
        <li>Innovation: Use the latest technology to design new devices</li>
        <li>Growth: Hiring more engineers and developers</li>
        <li>Give Back: Make a difference to our environment and those around us</li>
    </ol>

    <h3 class="HomeSubTitle">Company Culture</h3>
    <p> We have a very vibrant and relaxed culture at our workplace. There is a "chill room" with a foosball and pool table.
    pointy shoes and button ups are optional. We have annual staff retreats and quarterly functions. This is a great place learn
    and develop your skills. We are big on health as we participate on hikes and indoor football monthly. We care for our workers
    and make sure they medical aid is covered.</p>
</main>