@{
    ViewBag.Title = "Contact Page";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3 class="HomeSubTitle" style="margin-left:15%; margin-right:auto">
        @ViewBag.Message
    </h3>

    <div class="sideBySide">
        <div style="margin-left:15%; margin-right:auto">
            <address>
                Contact us at the following:
                <ul>
                    <li><strong>Email:</strong><a href="mailto:sihlecalana@gmail.com">Support@example.com</a></li>
                    <li><strong>Telephone:</strong> 021 6785 0505</li>
                    <li><strong>Address:</strong> 1 Place St, Suburb</li>
                </ul>
            </address>
        </div>

        <div style="margin-left:auto; margin-right:15%">
            <form>
                <h6>Want Us To Contact You?</h6>
                <input type="text" placeholder="Name" autofocus>
                <input type="email" placeholder="Email Address">
                <input type="tel" placeholder="Phone No.: xxx xxx xxxx" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required><br>
                <textarea placeholder="What is your query?" class="box"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</main>