@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TASM - Tracking & Monitoring Devices</h1>
        <p class="lead">TASM is a proudly South African compny that offers a
        wide range of Asset tracking and asset monitoring devices, produced by the most innovative minds! Excellence is
        at the core of our values ever since we were founded.</p>
        <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="HomeSubTitle">
            <h2 class="HomeSubTitle">Devices Range</h2>
            <p>
                We provide a wide range of asset tracking and sensor monitoring devices that can be used in almost any environment.
                Whether its for monitoring driving safety, household smart meters, livestock location tracking, poaching prevention
                and much more. Our devices are tailored for various occasions, be it indoors or outdoors.
            </p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index","DeviceGroup")">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="HomeSubTitle">
            <h2 class="HomeSubTitle">Firmware Support</h2>
            <p>Find out the different firmware used by our devices and which firmware each of our devices use</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index","Firmware")">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="HomeSubTitle">
            <h2 class="HomeSubTitle">Reach Us</h2>
            <p>Want to contact us or you want us? Find our details on the contact page or fill in the form and we
            shall get back to you!</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Contact","Home")">Learn more &raquo;</a></p>
        </section>
    </div>
</main>